/* root styles */
:root {
  /* project main colors */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  /* font families */
  font-family: 'Montserrat', sans-serif;

  /* font sizes */
  font-size: 16px;
  --fs-regular: 1em;
  --fs-big: 2em;

  --fs-primary-heading: var(--fs-big);

  /* project font weight */
  --fw-500: 500;
  --fw-700: 700;

  --fw-primary-heading: var(--fw-700);

  /* sizing */
  --size-100: 0.25em;
  --size-200: 0.50em;
  --size-300: 0.75em;
  --size-400: 1em;
  --size-500: 1.25em;
  --size-600: 1.5em;
  --size-700: 1.75em;
  --size-800: 2em;
  --size-900: 2.25em;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* general styling */
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Fraunces', serif;
}

/* Utility classes */
.text-cyan {
  color: var(--dark-cyan);
}

.text-cream {
  color: var(--cream);
}

.text-very-dark-blue {
  color: var(--very-dark-blue);
}

.text-grayish-blue {
  color: var(--dark-grayish-blue);
}

.text-white {
  color: var(--white);
}

.bg-cyan {
  color: var(--dark-cyan);
}

.bg-cream {
  color: var(--cream);
}

.bg-very-dark-blue {
  color: var(--very-dark-blue);
}

.bg-grayish-blue {
  color: var(--dark-grayish-blue);
}

.bg-white {
  color: var(--white);
}

.primary-heading {
  font-size: var(--fs-primary-heading);
  font-weight: var(--fw-primary-heading);
}

.paragraph {
  font-size: var(--fs-regular);
  font-weight: var(--fw-500);
}
.uppercase{
  text-transform: uppercase;
}

.mono-space{
  letter-spacing: .2em;
}

.line-through{
  text-decoration: line-through;
}